body {
	padding-top:39px;
	margin-left:0px;
	background: #e5e5e5;
}
.navbar .btn-donate {padding: 0 0 0 10px;}
.navbar .btn-donate form { margin:0;}

@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}
@media (max-width: 979px) {
	.navbar-fixed-top { position:fixed; }
}
.navbar-inverse .brand {width:149px; color:#fff; padding-bottom: 0; margin-left: -5px; }
.navbar-inverse #menu-layoutit { margin-right: 0;}
.navbar .divider-vertical { height: 38px;}
.navbar-fixed-top .navbar-inner { min-height: 38px;}
.navbar-fixed-top .navbar-inner .container-fluid { padding: 0 5px; }

.brand img {float:left; margin:2px 10px 0 0; }
.brand .label { 
	position:relative; 
	left:10px; 
	top:-3px; 
	font-weight:normal; 
	font-size:9px;
	background:#666;
	-webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
}

footer {    background-color: #e5e5e5; border-top: 1px solid #ccc; margin-top: 0px; padding: 30px 0 80px;}
.navbar p { margin:0; color:#ccc; line-height:40px; font-size:12px; }
.navbar p a { color:#fff; }
.navbar-fixed-bottom.navbar .btn-group { padding-top:5px; }
.navbar .btn-donate {padding: 0 0 0 10px;}
.navbar .btn-donate form { margin:0;}
.navbar-fixed-bottom.navbar .btn-donate form button { line-height: 18px; padding: 4px 9px;}
.follow-twitter-box {float: right; padding-top: 0 !important; padding-left: 25px;}

#container { padding-bottom:70px; background: #fff; }

h2 { font-weight: normal; padding-top: 30px; padding-bottom: 30px;}

#feedbackModal textarea,
#downloadModal textarea { width:100%;height:280px;resize: none;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; }
#feedbackModal input { width:515px; }
#feedbackModal input.modal-error-field, #feedbackModal textarea.modal-error-field { border: 1px solid red; }